<%= content %>
<br/>
<div class="grid grid-cols-1">
  <% current_year = nil %>
  <% collection.to_a.sort_by{|(key, post)| Time.parse(post.dig('_meta', 'date')).to_i rescue 0}.reverse.each do |(key, post)| %>
    <% next if key == '_meta' %>
    <% post_date = post.dig('_meta', 'date').to_s %>
    <% year = post_date[/\d{4}/] || "Unknown" %>
    <% if year != current_year %>
      <div class="mt-6 text-xs uppercase tracking-widest text-gray-400"><%= year %></div>
      <% current_year = year %>
    <% end %>
    <div class="flex mt-3">
      <div class="grow text-2xl">
        <a href="<%= post.dig('_meta', 'url') %>"><%= post.dig('_meta', 'title') %></a>
      </div>
      <div class="flex-none text-gray-500 font-mono text-sm">by <%= post.dig('_meta', 'author') %> on <%= post.dig('_meta', 'date') %></div>
    </div>
    <% if (desc = post.dig('_meta', 'description')).to_s.strip != "" %>
      <div class="text-gray-500 text-sm mt-1"><%= desc %></div>
    <% end %>
  <% end %>
</div>
