<!DOCTYPE html>
<html class="antialiased" data-theme="light" lang="en">
  <head>
    <meta name="viewport" content="width=device-width"/>
    <meta charSet="utf-8"/>
    <title><%= meta['breadcrumbs'].count.times.map {|i| sitemap.dig(*meta['breadcrumbs'].take(i+1)).dig('_meta', 'title') }.join(' > ') || 'Trifle' rescue 'Trifle'%></title>
    <meta name="description" content="<%= meta['breadcrumbs'].count.times.map {|i| sitemap.dig(*meta['breadcrumbs'].take(i+1)).dig('_meta', 'title') }.join('/') || Trifle rescue 'Trifle: Suite of little big tools.' %>"/>
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
    <script src="//unpkg.com/alpinejs" defer></script>

    <style>
      <%= Rouge::Themes::Base16.new.render %>
    </style>

    <script>
      tailwind.config = {
        darkMode: 'class',
        theme: {
          extend: {
          }
        }
      }
    </script>

    <style type="text/tailwindcss">
      img {
        @apply inline;
      }

      nav#on-this-page ul {
        @apply mt-4 space-y-2 text-sm pl-0 list-none;
      }

      nav#on-this-page ul li {
        @apply mt-2 space-y-2 text-slate-500 dark:text-slate-400;
      }

      nav#on-this-page > ul > li {
        @apply pl-0;
      }

      nav#on-this-page > ul > li > ul > li {
        @apply pl-4;
      }

      nav#on-this-page > ul > li > ul > li > ul > li {
        @apply pl-4;
      }

      nav#on-this-page ul li a {
        @apply hover:text-slate-600 dark:hover:text-slate-300 no-underline;
      }

      div#content {
        display: flex;
        flex-direction: column;
      }

      div#content > h1:nth-of-type(1) {
        order: -1;
      }

      .prose > h1 :where(code):not(:where([class~="not-prose"] *))::after,
      .prose > h2 :where(code):not(:where([class~="not-prose"] *))::after,
      .prose > h3 :where(code):not(:where([class~="not-prose"] *))::after {
        content: '';
      }
      .prose > h1 :where(code):not(:where([class~="not-prose"] *))::before,
      .prose > h2 :where(code):not(:where([class~="not-prose"] *))::before,
      .prose > h3 :where(code):not(:where([class~="not-prose"] *))::before {
        content: '';
      }
    </style>

    <script>
      let mediaQuery = window.matchMedia('(prefers-color-scheme: light)')

      function updateTheme(savedTheme) {
          let theme = 'system'
          try {
              if (!savedTheme) {
                  savedTheme = window.localStorage.theme
              }
              if (savedTheme === 'dark') {
                  theme = 'dark'
                  document.documentElement.classList.add('dark')
              } else if (savedTheme === 'light') {
                  theme = 'light'
                  document.documentElement.classList.remove('dark')
              } else if (mediaQuery.matches) {
                  document.documentElement.classList.remove('dark')
              } else {
                  document.documentElement.classList.add('dark')
              }
          } catch {
              theme = 'light'
              document.documentElement.classList.remove('dark')
          }
          return theme
      }

      function updateThemeWithoutTransitions(savedTheme) {
          updateTheme(savedTheme)
          document.documentElement.classList.add('[&_*]:!transition-none')
          window.setTimeout(() => {
              document.documentElement.classList.remove('[&_*]:!transition-none')
          }, 0)
      }

      document.documentElement.setAttribute('data-theme', updateTheme())

      new MutationObserver(([{oldValue}]) => {
          let newValue = document.documentElement.getAttribute('data-theme')
          if (newValue !== oldValue) {
              try {
                  window.localStorage.setItem('theme', newValue)
              } catch {}
              updateThemeWithoutTransitions(newValue)
          }
      }).observe(document.documentElement, {
          attributeFilter: ['data-theme'],
          attributeOldValue: true
      })

      mediaQuery.addEventListener('change', updateThemeWithoutTransitions)
      window.addEventListener('storage', updateThemeWithoutTransitions)
    </script>
    <noscript data-n-css=""></noscript>
  </head>
  <body class="bg-white dark:bg-slate-900" x-data="{ isMobileVisible: false }">
    <header class="sticky top-0 z-50 flex flex-wrap items-center justify-between bg-white px-4 py-5 shadow-md shadow-slate-900/5 transition duration-500 dark:shadow-none sm:px-6 lg:px-8 dark:bg-transparent">
      <div class="mr-6 lg:hidden">
        <button type="button" class="relative" x-on:click="isMobileVisible = !isMobileVisible">
          <span class="sr-only">Open navigation</span>
          <svg aria-hidden="true" class="h-6 w-6 stroke-slate-500" fill="none" stroke-width="2" stroke-linecap="round">
            <path d="M4 7h16M4 12h16M4 17h16"></path>
          </svg>
        </button>
        <div style="position:absolute;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0, 0, 0, 0);white-space:nowrap;border-width:0;display:none"></div>
      </div>
      <div class="relative flex flex-grow basis-0 items-center">
        <a class="block w-48 overflow-hidden lg:w-auto" href="/">
          <span class="font-mono text-slate-900 dark:text-white">Trifle</span>
        </a>
      </div>
      <div class="relative flex basis-0 justify-end space-x-6 sm:space-x-8 md:flex-grow">
        <a class="group" href="https://github.com/trifle-io">
          <span class="sr-only">GitHub</span>
          <svg aria-hidden="true" viewBox="0 0 16 16" class="h-6 w-6 fill-slate-400 group-hover:fill-slate-500 dark:group-hover:fill-slate-300">
            <path d="M8 0C3.58 0 0 3.58 0 8C0 11.54 2.29 14.53 5.47 15.59C5.87 15.66 6.02 15.42 6.02 15.21C6.02 15.02 6.01 14.39 6.01 13.72C4 14.09 3.48 13.23 3.32 12.78C3.23 12.55 2.84 11.84 2.5 11.65C2.22 11.5 1.82 11.13 2.49 11.12C3.12 11.11 3.57 11.7 3.72 11.94C4.44 13.15 5.59 12.81 6.05 12.6C6.12 12.08 6.33 11.73 6.56 11.53C4.78 11.33 2.92 10.64 2.92 7.58C2.92 6.71 3.23 5.99 3.74 5.43C3.66 5.23 3.38 4.41 3.82 3.31C3.82 3.31 4.49 3.1 6.02 4.13C6.66 3.95 7.34 3.86 8.02 3.86C8.7 3.86 9.38 3.95 10.02 4.13C11.55 3.09 12.22 3.31 12.22 3.31C12.66 4.41 12.38 5.23 12.3 5.43C12.81 5.99 13.12 6.7 13.12 7.58C13.12 10.65 11.25 11.33 9.47 11.53C9.76 11.78 10.01 12.26 10.01 13.01C10.01 14.08 10 14.94 10 15.21C10 15.42 10.15 15.67 10.55 15.59C13.71 14.53 16 11.53 16 8C16 3.58 12.42 0 8 0Z"></path>
          </svg>
        </a>
      </div>
    </header>

    <div class="relative mx-auto flex max-w-8xl justify-center px-2 lg:px-8 xl:px-12">
      <div class="lg:flex-none w-64" x-bind:class="isMobileVisible ? 'block' : 'hidden lg:block'">
        <div class="sticky top-[4.5rem] -ml-0.5 h-[calc(100vh-4.5rem)] overflow-y-auto py-16 pl-0.5">
          <nav class="text-base lg:text-sm w-128 pr-8 xl:w-72 xl:pr-16 min-w-64">
            <ul class="space-y-4">
              <li>
                <% if meta.dig('url') == "/" %>
                  <a href="/" class="font-display text-base font-bold text-slate-900 dark:text-white">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 inline mr-2 mb-1" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 21v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21m0 0h4.5V3.545M12.75 21h7.5V10.75M2.25 21h1.5m18 0h-18M2.25 9l4.5-1.636M18.75 3l-1.5.545m0 6.205l3 1m1.5.5l-1.5-.5M6.75 7.364V3h-3v18m3-13.636l10.5-3.819" />
                    </svg>
                    Home
                  </a>
                <% else %>
                  <a href="/" class="font-display text-base font-bold text-slate-600 dark:text-white">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 inline mr-2 mb-1" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 21v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21m0 0h4.5V3.545M12.75 21h7.5V10.75M2.25 21h1.5m18 0h-18M2.25 9l4.5-1.636M18.75 3l-1.5.545m0 6.205l3 1m1.5.5l-1.5-.5M6.75 7.364V3h-3v18m3-13.636l10.5-3.819" />
                    </svg>
                    Home
                  </a>
                <% end %>
              </li>
              <% sitemap.sort_by {|(key, option)| option.dig('_meta', 'nav_order') || 0 }.each do |(key, option)| %>
                <% next if key == '_meta' %>
                <li>
                  <% if "/#{url}".start_with?(option.dig('_meta', 'url')) %>
                    <a href="<%= option.dig('_meta', 'url') %>" class="font-display text-base font-bold text-teal-600">
                      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 inline mr-2 mb-1" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="<%= option.dig('_meta', 'svg') %>" />
                      </svg>
                      <%= option.dig('_meta', 'title') %>
                      <svg viewBox="0 0 128 128" class="w-5 h-5 inline float-right" fill="currentColor">
                        <%= option.dig('_meta', 'lang') %>
                      </svg>
                    </a>
                  <% else %>
                    <a href="<%= option.dig('_meta', 'url') %>" class="font-display text-base font-bold text-slate-600 dark:text-white">
                      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 inline mr-2 mb-1" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="<%= option.dig('_meta', 'svg') %>" />
                      </svg>
                      <%= option.dig('_meta', 'title') %>
                      <svg viewBox="0 0 128 128" class="w-5 h-5 inline float-right" fill="currentColor">
                        <%= option.dig('_meta', 'lang') %>
                      </svg>
                    </a>
                  <% end %>
                  <% next if option.dig('_meta', 'url') == '/blog' %>
                  <% next unless "/#{url}".start_with?(option.dig('_meta', 'url')) %>

                  <ul class="mt-2 space-y-1 lg:mt-4 lg:space-y-2">
                    <% option.sort_by {|(key, option)| option.dig('_meta', 'nav_order') || 0 }.each do |(key, option)| %>
                      <% next if key == '_meta' %>
                      <li class="relative">
                        <% if option.dig('_meta', 'url') == "/#{url}" %>
                          <a href="<%= option.dig('_meta', 'url') %>" class="block w-full pl-3.5 font-semibold text-teal-500"><%= option.dig('_meta', 'title') %></a>
                        <% else %>
                          <a href="<%= option.dig('_meta', 'url') %>" class="block w-full pl-3.5 text-slate-500 hover:text-slate-600 dark:text-slate-400 dark:hover:text-slate-300"><%= option.dig('_meta', 'title') %></a>
                        <% end %>

                        <ul class="ml-4 mt-1 mb-4 space-y-1 border-l-2 border-slate-100 dark:border-slate-800 lg:mt-2 lg:space-y-4 lg:border-slate-200">
                          <% option.sort_by {|(key, option)| option.dig('_meta', 'nav_order') || 0 }.each do |(key, option)| %>
                            <% next if key == '_meta' %>
                            <li class="relative">
                              <% if option.dig('_meta', 'url') == "/#{url}" %>
                                <a href="<%= option.dig('_meta', 'url') %>" class="block w-full pl-3.5 before:pointer-events-none before:absolute before:-left-1 before:top-1/2 before:-translate-y-1/2 font-semibold text-teal-500 before:bg-teal-500"><%= option.dig('_meta', 'title') %></a>
                              <% else %>
                                <a href="<%= option.dig('_meta', 'url') %>" class="block w-full pl-3.5 before:pointer-events-none before:absolute before:-left-1 before:top-1/2 before:-translate-y-1/2 text-slate-500 before:hidden before:bg-slate-300 hover:text-slate-600 hover:before:block dark:text-slate-400 dark:before:bg-slate-700 dark:hover:text-slate-300"><%= option.dig('_meta', 'title') %></a>
                              <% end %>
                            </li>
                          <% end %>
                        </ul>
                      </li>
                    <% end %>
                  </ul>
                </li>
              <% end %>
            </ul>
          </nav>
        </div>
      </div>
      <div class="min-w-0 max-w-2xl flex-auto px-4 py-16 lg:max-w-none lg:pr-0 lg:pl-8 xl:px-16">
        <article>
          <header class="mb-9 space-y-1">
            <% meta['breadcrumbs'].count.times do |i| %>
              <% page = sitemap.dig(*meta['breadcrumbs'].take(i+1)) %>
              <a href="<%= page.dig('_meta', 'url') %>" class="font-display text-sm font-medium text-teal-500"><%= page.dig('_meta', 'title') %></a>
              <% next if i+1 == meta['breadcrumbs'].count %>
              <span class="text-slate-400 dark:text-slate-400">/</span>
            <% end %>
          </header>
          <div id="content" class="prose prose-slate max-w-none dark:prose-invert dark:text-slate-400 prose-headings:scroll-mt-28 prose-headings:font-display prose-headings:font-normal lg:prose-headings:scroll-mt-[8.5rem] prose-lead:text-slate-500 dark:prose-lead:text-slate-400 prose-a:font-semibold dark:prose-a:text-teal-400 prose-a:no-underline prose-a:shadow-[inset_0_-2px_0_0_var(--tw-prose-background,#fff),inset_0_calc(-1*(var(--tw-prose-underline-size,4px)+2px))_0_0_var(--tw-prose-underline,theme(colors.teal.300))] hover:prose-a:[--tw-prose-underline-size:6px] dark:[--tw-prose-background:theme(colors.slate.900)] dark:prose-a:shadow-[inset_0_calc(-1*var(--tw-prose-underline-size,2px))_0_0_var(--tw-prose-underline,theme(colors.teal.800))] dark:hover:prose-a:[--tw-prose-underline-size:6px] prose-pre:rounded-xl prose-pre:bg-slate-900 prose-pre:shadow-lg dark:prose-pre:bg-slate-800/60 dark:prose-pre:shadow-none dark:prose-pre:ring-1 dark:prose-pre:ring-slate-300/10 dark:prose-hr:border-slate-800">
            <% if meta['description'] %>
              <blockquote id="description-quote" class="text-gray-500 dark:text-gray-100">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 inline mb-1" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M9.663 17h4.673M12 3v1m6.364 1.636l-.707.707M21 12h-1M4 12H3m3.343-5.657l-.707-.707m2.828 9.9a5 5 0 117.072 0l-.548.547A3.374 3.374 0 0014 18.469V19a2 2 0 11-4 0v-.531c0-.895-.356-1.754-.988-2.386l-.548-.547z" />
                </svg>
                <%= meta['description'] %>
              </blockquote>
            <% end %>
            <%= yield %>
          </div>
        </article>

        <% unless meta['url'] == '/blog' || meta['url'] == '/' %>
          <div class="mt-12 max-w-lg mx-auto grid gap-5 lg:grid-cols-4 lg:max-w-none">
            <% collection.sort_by {|(key, option)| option.dig('_meta', 'nav_order') || 0 }.each do |key, item| %>
              <% next if key == '_meta' || item.dig('_meta', 'type') == 'file' %>
              <div class="flex flex-col rounded-lg shadow-lg overflow-hidden">
                <div class="flex-1 bg-white dark:bg-slate-800 p-6 flex flex-col justify-between">
                  <div class="flex-1">
                    <a href="<%= item.dig('_meta', 'url') %>" class="block mt-2">
                      <p class="text-xl font-semibold text-teal-600"><%= item.dig('_meta', 'title') %> &rarr;</p>
                      <p class="mt-3 text-base text-gray-500"><%= item.dig('_meta', 'description') %></p>
                    </a>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="hidden xl:sticky xl:top-[4.5rem] xl:-mr-6 xl:block xl:h-[calc(100vh-4.5rem)] xl:flex-none xl:overflow-y-auto xl:py-16 xl:pr-6">
        <nav id="on-this-page" aria-labelledby="on-this-page-title" class="w-56">
          <h2 id="on-this-page-title" class="font-display text-lg font-medium text-slate-900 dark:text-white">On this page</h2>
          <%= meta.dig('toc') %>
        </nav>
    </div>
  </body>
</html>
